/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}


.badge {
     font-weight: 500;
}


button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
     margin: 0;
     padding: 0;
}




/*--------------------------------------------------------------------- header area ---------------------------------------------------------------------*/

.header {
     background-color: rgba(0, 0, 0, 0);
     background-repeat: repeat;
     background-size: auto;
     position: absolute;
     z-index: 999;
     width: 100%;
     left: 0;
     top: 0;
     padding: 0;
     padding-top: 0px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     min-height: 110px;
     padding-top: 45px
}

.logo {
     float: left;
     position: relative;
}

nav.main-menu {
     width: 100%;     
     margin-left: 0;
     margin-top: 17px;
}

.menu-area-main{
     margin-left: 10%;
     margin-right: 10%;
}

.menu-area-main li{
     width: 20%;
}

.menu-area-main li a:hover{
     transform: scale(1.2);
     transition: all 0.2s ease-in-out 0.1s;
}


.main-menu {
     text-align: right;
}

.main-menu ul {
     margin: 0;
     list-style-type: none;
     margin-bottom: 10px;
}

.main-menu ul>li {
     display: inline-block;
     position: relative;
}

.main-menu ul>li a {
     line-height: 20px;
     font-size: 16px;
     display: block;
     font-weight: 500;
     color: #ffffff;
     padding: 22px 20px;
     text-transform: uppercase;
}

.main-menu ul li:last-child a {
     padding-right: 0;
}

.main-menu ul>li .sub-down li a {
     color: #114c7d;
     font-size: 15px;
     text-transform: capitalize;
     font-weight: 300;
     padding: 12px 5px;
     position: relative;
     border-bottom: solid #eee 1px;
}
.main-menu ul>li .sub-down li a::before {}
.main-menu ul>li .sub-down li a:hover {
     color: #111111;
}
.main-menu ul>li .sub-down li a:hover::before {}
.main-menu ul li:first-child {
     margin-left: 0;
}
.main-menu ul>li>ul {
     opacity: 0;
     position: absolute;
     text-align: left;
     top: 100%;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 240px;
     z-index: 999;
     background: #fff;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.main-menu>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
}
.main-menu ul>li>ul>li {
     margin: 0px;
     position: relative;
     display: block;
}
.main-menu ul>li>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
     left: 100%;
     top: 10px;
     color: #ffffff;
}
.main-menu ul>li>ul>li>a {
     background: none !important;
}

.main-menu ul>li {
     position: inherit;
     display: inline-block;
     vertical-align: middle;
}
.main-menu ul>li a:hover {
     color: #fff;
}
.main-menu ul>li:nth-child(6) {
     padding-right: 0px;
}



/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/
.marginii {
     margin: 154px 0px 100px 0px;
}
.carousel-indicators li {
     display: none;
}

.static_blue{
     background-color: #3761bb !important;
}

.banner-main {
     position: relative;
     background-image: linear-gradient(to bottom, #3761bb , #fff );
     background-size: 100% 100%;
}

.banner-main.reverse{
     background-image: linear-gradient(to top, #3761bb , #fff );
}
.banner-main .carousel-caption {
     text-align: left;
     left: 0;
     top: 5%;
     position: relative;
}
.banner-main .carousel-caption h1 {
     font-size: 65px;
     line-height: 74px;
     font-weight: bold;
     color: #EAEDC7;
}
.banner-main .carousel-caption p {
     color: #ffffff;
     padding: 9px 0px;
     margin-bottom: 50px;
}

.banner-main .carousel-caption.img{
     text-align: center;
}


.color{
     color: #fff;
}


/* Button*/

@import url("https://fonts.googleapis.com/css?family=Mukta:700");

button.learn-more {
  width: 12rem;
  min-width: 12rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #3A4E60;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #3A4E60;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: White;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}


/* Button */

/* Row buttons */
.row.mobile{
     margin-top: 3%;
     width: 100%;
     float: left;    
}

.dmobile{
     max-width: 225px;
}

.imobile{
     width: 150px;
     height: 60px;
}

/* Mobile buttons */

.btn-primary {
     background: #081b30;
     border: #081b30;
     opacity: 80%;
     max-width: 170px;
     width: 100%;
     margin-right: 10px;
     border-radius: 25px;
     color: white;
}
.btn-primary:hover {
     background: #ffffff;
     color: #081b30;
     border: 2px solid #081b30
}

.img-box figure {
     margin: 0;
}
.img-box figure img {
     box-shadow: #081b30 0px 0px 0px 0px;
}


.titlepage{
     height: 100%;
     width: 100%;
}

.titlepage h2 {
     font-size: 50px;
     font-weight: bold;
     color: #136af8;
     position: relative;
     margin-bottom: 20px;
}

.titlepage span {
     color: #141012;
     font-size: 17px;
     display: block;
     font-weight: normal;
}



/* pre games section css */
.row.pre.all{
     margin-bottom: 5%;
}

.section.text{
     margin: 60px 0px auto 0;
     padding-left: 40px;
}

.single.section.top{
     margin-top: 10px;
}

.single.section{
     width: 100%;
     margin-top: 25px;
}

.row.pre.title{
     vertical-align: center;
}

.pre.g.title {
     font-weight: bold;
     font-size: 17px;
     width: 88%;
}

.pre.g.image{
     width: 7%;
     max-width: 30px;
     height: auto;
     margin-right: 5%;
}

.pre.g.text {
     color: grey;
     width: 75%;
     margin-left: 10%;
     margin-right: 15%;
     line-height: 1.5;
     text-align: justify;
}
/* pre games section css */

/* games section css */
.clothes_main{
     width: 100%; 
     background-color: #081b30;
     height: auto;
     padding: 30px 0px 100px;
} 


.container.games{
     padding-top: 50px;
}

.badge-primary{
     background-color: transparent;
}

.mb-0.title{
     font-size: 1rem;
     font-weight: bold;
     color: white;
     padding-top: 10px;
}

.zoom:hover {
     -ms-transform: scale(1.2); /* IE 9 */
     -webkit-transform: scale(1.2); /* Safari 3-8 */
     transform: scale(1.2); 
     }

.zoom {
     width: 100%;
     height: 90%;
     margin-bottom: 10%;
     border-radius: 5%;
}

.games.title{
     height: 10%;
     margin-bottom: 7%;
     margin-left: 5%;
}

.games.description{
     height: 72%;
     margin: 0 6% 2% 6%;
}

.games.faixa{
     height: 7%;
     margin-bottom: 2%;
     margin-left:5%;
}

.info-title.text-white{
     font-size: 1.25rem;
     font-weight: 700;
}

span.description{
     color: white;
     font-weight: 500;
     line-height: 1.6;
     font-size: 14px;
}

span.faixa_etaria{
     color: white;
     font-weight: 300;
     line-height: 1.7;
}

.faixa_title{
     font-weight: bold;
}
/* games section css */



img.zoom {
     width: 100%;
     object-fit: cover;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
}

.transition {
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
     transform: scale(1.2);
}



textarea {
     margin-bottom: 30px;
     padding: 12px 4px 11px 11px;
     width: 100%;
}
.footer {
     background-color: #212120;
     text-align: center;
}

.btn-primary.focus,
.btn-primary:focus {
     box-shadow: inherit;
}


.section {
     float: left;
     width: 100%;
}

.sporrt_text{ 
     width: 100%; 
     float: left; 
     color: #fffcf4;
     margin-top: 80px;
     font-size: 30px;
     font-weight: bold;
     line-height: 30px;
}

.lorem_text{ 
     width: 100%;
     float: left; 
     font-size: 16px; 
     color: #fffcf4;
     margin: 0px; 
}

.btn_main{ 
     width: 100%; 
     float: left;
     margin-top: 58px;
}




.contact_us{
     width: 100%;
     float: left;
     padding: 0px;
}




.Address {
    width: 100%;
    float: left;
    background-color: #081b30;
    height: auto;
    padding: 83px 0 0 0;
}

.address_text{
     width: 100%;
     text-align: center;
     margin: 0px;
     border-bottom: 2px solid #136af8;
     color: #fff;
}
.main{
    width: 9%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
 }



 .active{ color: #000; }

.footer{
     width: 100%;
     float: left;
     background-color: #136af8;
     height: auto; 
     padding: 0px;
}




button.btn.btn-primary,button.btn.btn-primary:hover,button.btn.btn-primary:focus {
    background: #136af8;
    padding: 10 40px;
}


#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 50px;
    top: 40%;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 50%;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
     background: #091e30;
     color: #fff;
}

.product {padding-top: 90px;}
.product .titlepage h2 {color: #136af8;}
.black {color: #000;}
.contact_us .titlepage h2 {text-align: center;}
.footer p {color: #fff;}
.footer p a {color: #fff;}
.footer p a:hover {color: #fff;}
.main-menu ul > li a {padding-top: 5px;}

/* Team members section css */
.global_container_team{
     height: 85%;
     margin-top: 5%;
     margin-bottom: 10%;
}

.row.align-items-center.pro{
     padding-bottom: 5%;
}

.col-xl-4.col-lg-4.col-md-4.col-sm-12{
     padding-right: 15px;
}
.profile.card{
     height: 100%;
     padding: 0;
     border: none;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10%;
}

.profile.card.ricardo{
     background-color: #DC3545;
}

.profile.card.diogo{
     background-color: #6C757D;
}

.profile.card.rafa{
     background-color: #FFC107;
}

.profile.card.cunha{
     background-color: #8EA5D7;
}

.profile.card.amaral{
     background-color: #28A745;
}

.profile.card.pedro{
     background-color: #007BFF;
}
/* Professor */
.profile.card.professor{
     background-color: #081B30;
}
/* Professor */
.body{
     background-color: #fff;
     height: 50%;
     border-top-left-radius: 10%;
     border-top-right-radius: 10%;
     padding-bottom: 10%;
}

.personalphoto{
     width: 60%;
     margin-left: 20%;
     margin-right: 20%;

     height: 50%;
     margin-top: 5%;
     margin-bottom: 10%;
}

img.photoperson{
     display: block;
     width: 70%;
     box-shadow: #6C757D 0px 5px 15px;
     border-radius: 50%;
     margin-left: auto;
     margin-right: auto;
}


img.photoperson.ricardo{
     box-shadow: #DC3545 0px 5px 15px;
}
img.photoperson.diogo{
     box-shadow: #6C757D 0px 5px 15px;
}
img.photoperson.rafa{
     box-shadow: #FFC107 0px 5px 15px;
}
img.photoperson.cunha{
     box-shadow: #8EA5D7 0px 5px 15px;
}
img.photoperson.amaral{
     box-shadow: #28A745 0px 5px 15px;
}
img.photoperson.pedro{
     box-shadow: #007BFF 0px 5px 15px;
}
/* Professor */
img.photoperson.professor{
     box-shadow: #081B30 0px 5px 15px;
}
/* Professor */

.media{
     width: 20%;
     height: auto;
     margin-left: 40%;
     margin-right: 40%;
}

.circle{
     margin-left: 5%;
     margin-right: 5%;
     width: 40%;
     height: auto;
     border-radius: 70%;
     
}

.circle.ricardo{
     background-color: #DC3545;
}
.circle.diogo{
     background-color: #6C757D;
}
.circle.rafa{
     background-color: #FFC107;
}
.circle.cunha{
     background-color: #8EA5D7;
}
.circle.amaral{
     background-color: #28A745;
}
.circle.pedro{
     background-color: #007BFF;
}

/* Professor */
.circle.professor{
     background-color: #081B30;
}
/* Professor */

section.cool_waves{
     width: 100%;
     height: 20%;
     position: relative;
     overflow: hidden;
}

section .wave{
     bottom: 0;
     left: 0;
     width: 100%;
     height: 75px;
     background-image: url("../images/wave.png");
     background-size: 600px 75px;
     transform: rotate(180deg);
}

section .wave.wave1{
     animation: animate 10s linear infinite;
     z-index: 1000;
     opacity: 1;
     animation-delay: 0s;
     bottom: 0;
}

@keyframes animate{
     0%
     {
          background-position-x: 0;
     }
     100%
     {
          background-position-x: 600px;
     } 
}
.wave_section{
     height: 30%;
     margin-bottom: 20%;
}

svg {
     color: white;
}

.team_description {
     text-align: center;
}



/* Team members section css */